{% extends "__object.twig" %}
{% import "_macros.twig" as macros %}

{% block content %}
<div class="container mt-2 mb-2">

    <h1>{{ title }}</h1>

    <div class="my-3">
        <ul class="nav nav-pills">
            {{ macros.nav("Картинка", "/type-flowers/" ~ title_objects.id ~ "/image", temp == "Картинка") }}
            {{ macros.nav("Описание", "/type-flowers/" ~ title_objects.id ~ "/info", temp == "Описание") }}
        </ul>
    </div>

    <img src="{{ image }}" alt="{{ title }}" style="max-width: 100%;">

</div>
{% endblock %}
